.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 40px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-wrapper video,
.video-wrapper .chroma-key-video {
  width: 100%;
  max-width: 500px; /* Sets a maximum width */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px; /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds subtle shadow */
}

.video-wrapper p {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  font-weight: bold;
}

.video-container,
.button-container {
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.video-container.hidden,
.button-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.video-container.visible,
.button-container.visible {
  opacity: 1;
  visibility: visible;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}